<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vue & Django learn！</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
</head>
<body>
    <h1>Vue Django</h1>
    <div id="app">
        <table>
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>定价</th>
            </tr>
            <tr v-for="book in books">
                <td>[[book.id]]</td>
                <td>[[book.title]]</td>
                <td>[[book.price]]</td>
            </tr>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            delimiters:["[[", "]]"],
            data: {
                books: []
            },
            mounted: function(){
                this.fetchData();
            },
            methods: {
                fetchData(){
                       axios.get("/book/api/books/").then(response=>{
                            this.books = response.data;}),
                       err=>{
                            console.log(err);
                       };
                }
            }
        });
    </script>
</body>
</html>
